<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
      <p>Nome:<input type="text" nome="nome" value="<%= doc.nome %>" /></p>
      <p>Data de Nascimento:<input type="text" nome="dataNasc" value="<%= doc.dataNasc %>" /></p>
      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>